/* Import components */
@use '../components/components';

/* Text styling */
main {
    line-height: 1.3em;
    font-size: 1.2rem;
}

/* Notification-box */
#notification {
    @extend .rounded-corners;
    @extend .center;
    position: absolute;
    padding: 1rem;
    max-height: 3rem;
    background: red;
}

/* Start screen */
#start {
    display: block;
    height: 80vh;
    width: 100%;
    #start-btn {
        @extend .center;
        font-size: 2rem;
        padding: 1rem;
        margin-top: calc(40vh - 3rem);
    }
}

/* Loader */
#loader {
    position: absolute;
    display: none;
    @extend .center;
    top: calc(50vh - 2.5rem);
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 0.5rem solid transparent;
    border-right: 0.5rem solid lightskyblue;
}
