$font-stack: Arial, Helvetica, sans-serif;

/* Colours */
$light-accent-colour: dodgerblue;
$dark-accent-colour: midnightblue;
$dark-base-colour: #252525;
$light-base-colour: #EBEBEB;
$light-text-colour: #EBEBEB;
$dark-text-colour: black;
